@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
background-image: url("../public/2595169.png");
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;

}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
